<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connect 4 Game</title>
    <link rel = "stylesheet" href = "stylesheets/splash.css">
</head>
<body>
<main>
    <h1>Connect 4 Game</h1>
    <div class="stat">
    <ul>
        <li id ="GI" >Total Games: <%= gamesInitialized %></li>
        <li id ="GC" > Games Completed: <%= gamesCompleted %></li>
        <li id ="GA" > Games Aborted: <%= gamesAborted %></li>

    </ul>
    </div>
    <div class= "rules">
        <div class= "title">Rules</div>
        <ul>
            <li>Players take turns stacking discs onto the 7x6 grid</li>
            <li>The first one to connect 4 discs wins</li>
            <li>When the grid is full, the game ends in a draw.</li>
          </ul> 
    </div>
    <form action="/play" method="get">
        <button class = "button" type="submit">PLAY</button>
    </form>
</main>
</body>
</html>