.grid {
    position: absolute;
    border: 1px solid;
    height: 600px;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    top: 4rem;
    left: 50%;
    transform: translate(-50%);
    background-color: slateblue;
    padding: 2rem;
}

body {
    background-color: #00B7FF;
}

.grid div {
    height: 90px;
    width : 90px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
}