.grid {
    position: absolute;
    border: 1px solid;
    height: 600px;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    top: 4rem;
    left: 50%;
    transform: translate(-50%);
    background-color: slateblue;
    padding: 2rem;
}

body {
    background-color: #00B7FF;
}

.grid div {
    height: 90px;
    width : 90px;
    border-radius: 50%;
    border: 1px solid black;
}

.cell {
    background-color: white;
}

.grid div:hover ~ .taken, .taken{
    background-color: red;
}

.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
@media (max-width: 799px), (max-height: 799px) {
    body::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        color: greenyellow;
        padding: 20px;
        content: "Your window is too small (at least 800x800px is expected) to play this game. Enlarge the browser window or zoom out to play or disable the CSS @media query.";
        background-color: black;
        z-index: 100;
    }
}