.grid{
    position: absolute;
    border: 1px solid;
    height: 600px;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    top: 4rem;
    left: 50%;
    transform: translate(-50%);
    background-color: #0070c0;
    padding: 2rem;
}
#time::before{
    content:"⏳";
}

#numDiscs::after{
    content: "⭕";
}



.grid:active{
    border: 3px solid;
}
body {
    display: grid;
    background-color: #00B7FF;
}

.grid div {
    height: 90px;
    width : 90px;
    border-radius: 50%;
    border: 1px solid black;
}

.cell {
    background-color: white;
}
.grid div:hover{
    cursor: pointer;
}
.grid div:hover ~ .takenYellow, .takenYellow{
    background-color: rgb(243, 243, 158);
}

.grid div:hover ~ .takenRed, .takenRed{
    background-color: rgb(241, 116, 116);
}

.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
@media (max-width: 799px), (max-height: 799px) {
    body::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        color: greenyellow;
        padding: 20px;
        content: "Your window is too small (at least 800x800px is expected) to play this game. Enlarge the browser window or zoom out to play or disable the CSS @media query.";
        background-color: black;
        z-index: 100;
    }
}

.centerXY {
    position: absolute;
    top:90vh;
    left:50%;
    transform: translate(-50%);
    font-size: 36px;
    color: aliceblue;
}
.left:hover, .right:hover{
    animation: rotate 1s linear;
}
@keyframes rotate{
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
.left{
    position: absolute;
    top:40vh;
    left: 12%;
    font-size: 36px;
    color: aliceblue;
}
.circle2, .circle1{
    height: 90px;
    width : 90px;
    border-radius: 50%;
    border: 1px solid black;
}
#time{
    position: absolute;
    top: 2%;
    left: 5%;
    font-size: 36px;
    color: aliceblue;
}
#timer{
    position: absolute;
    
    left: 5%;
    font-size: 36px;
    color:aliceblue;
}
#discs{
    position: absolute;
    font-size: 36px;
    top: 2%;
    right: 5%;
    color: aliceblue;
}
#numDiscs{
    position: absolute;
    font-size: 36px;
    
    right: 5%;
    color:aliceblue;
}
.right{
    position: absolute;
    top: 40vh;
    right: 4%;
    font-size: 36px;
    color: aliceblue;
}